<h1>Edit Article</h1>

<%= form_with(model: @securitytype, local: true) do |form| %>

  <% if @securitytype.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@securitytype.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @securitytype.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :issuer_name %><br />
    <%= form.select :issuer_id, options_for_select(Issuer.all.map{ |s| [s.name, s.id] }, @securitytype.issuer_id) %>
  </div>
  <p>
    <%= form.label :security_type %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>

<%= link_to 'Back', security_types_path %>
