<%= link_to 'Upload File', uploads_path %>
<br>
<%= link_to 'Uploaded Files', api_v1_csv_uploads_path %>


<h1>Listing Securities </h1>

<%= link_to 'New Security ', new_security_path %>
<br>


<table>
  <tr>
    <th>Name</th>
    <th>Issuers ID</th>
    <th></th>
  </tr>

  <% @securities.each do |type| %>
    <tr>
      <td><%= type.security_name %></td>
      <td><%= type.issuer_id %></td>
      <td><%= link_to 'Show', security_path(type) %></td>
      <td><%= link_to 'Edit', edit_security_path(type) %></td>
      <td><%= link_to 'Delete', security_path(type),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>

    </tr>
  <% end %>
</table>